body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
} 

.col {
    height: 40px;
    width: 40px;
    border: 1px solid black;
}

.row {
    display: flex;
    flex-direction: row;
}

.circle, .triangle, .square, .pentagon {
    height: 38px;
    width: 38px;
}